:root {
  --polygon-path: 50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%;
  --cyan: #96D2D9;
  --green: #14D990;
  --red: #F24968;
  --blue: #6929F2;
  --yellow: #F2B807;
  --magenta: #9B72F2;
  --tile-width: 100px;
  --tile-margin: 4px;
  --tile-height: calc(var(--tile-width) * 1.1547);
  --tile-width-xs: 1.7rem;
  --tile-icon-height: calc(var(--tile-width-xs) * 1.1547);
  --tile-margin-bottom: calc(var(--tile-margin) - var(--tile-width)*0.2885);
  --light: rgb(216, 227, 241);
  --dark: #192736;
  --grey: rgb(96, 101, 105);
  --gold: rgba(209, 209, 0, 0.767);
  --transition-hud-shimmer-duration: 350ms;
  --transition-hud-shimmer-easing: ease-in;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: stretch;
  min-height: 100vh;
  background: #112b3c;
  font-family: monospace;
}

button {
  padding: 10px;
  border-radius: 0;
  border: none;
  cursor: pointer;
  background: var(--dark);
  color: var(--light);
  font-weight: 900;
}

main {
  width: 80%;
  display: flex;
  justify-content: center;
  background-repeat: no-repeat;
  background-image:
    linear-gradient(45deg, var(--blue) 20%, var(--blue) 20%, rgba(255, 255, 255, 0) 20%, rgba(255, 255, 255, 0) 80%, var(--blue) 80%, rgba(255, 255, 255, 0) 100%),
    linear-gradient(315deg, var(--yellow) 20%, var(--yellow) 20%, rgba(255, 255, 255, 0) 20%, rgba(255, 255, 255, 0) 80%, var(--yellow) 80%, rgba(255, 255, 255, 0) 100%),
    linear-gradient(180deg, var(--green) 5%, var(--green) 5%, rgba(255, 255, 255, 0) 5%, rgba(255, 255, 255, 0) 95%, var(--green) 95%, var(--green) 100%);
}

.players-hud {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 20%;
  background: var(--light);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(9px);
  -webkit-backdrop-filter: blur(9px);
  color: var(--dark);
  transition: transform var(--transition-hud-shimmer-duration) var(--transition-hud-shimmer-easing);
  overflow: hidden;
}

.players-hud::before {
  content: '';
  background: rgba(255, 255, 255, 0.95);
  width: 18%;
  height: 100%;
  top: 0%;
  transform: skew(38deg);
  position: absolute;
  left: -125%;
  transition: left var(--transition-hud-shimmer-duration) var(--transition-hud-shimmer-easing);
  z-index: -3;
}

.players-hud:hover::before {
  left: 200%;
}

.players-hud:hover {
  transform: rotateY(-3deg);
  backdrop-filter: blur(10px);
}


.players-hud em {
  font-size: 1.2rem;
  font-style: normal;
}

.players-hud h6 {
  font-size: 1.5rem;
  font-variant: small-caps;
}

.turn-counter>em {
  font-size: 2rem;
}

.players {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

.players .black .fa-user-alt {
  color: var(--dark);
}

.players .black .fa-user-alt {
  color: var(--light);
}

.players-hud .hexagon-icon {
  position: absolute;
  width: var(--tile-width-xs);
  height: var(--tile-icon-height);
  font-size: 0.7rem;
  clip-path: polygon(var(--polygon-path));
  color: var(--light);
  background-color: var(--grey);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 900;
  font-family: "Font Awesome 6 Free";
  z-index: -1;
  top: -22px;
}

.players-hud .hexagon-text {
  color: var(--light);
}

.players-hud .hexagon-text--dark {
  color: var(--dark);
}

.players-hud .hexagon-icon--gold {
  background-color: gold;
  color: var(--dark)
}

.turn-counter,
.players-hud .hexagon-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.players-hud .hexagon-container {
  position: relative;
}

.message {
  margin: 20px;
  font-size: 1.5rem;
}

.message div:last-child {
  font-size: 1rem;
  margin-top: 10px;
}

.board {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 900px;
  height: 900px;
  font-size: 0;
}

.board>ul {
  list-style: none;
  display: flex;
  gap: 2px;
  position: relative;
  top: -20px;
}

.tile {
  width: var(--tile-width);
  margin: var(--tile-margin);
  height: var(--tile-height);
  font-size: 2.5rem;
  color: white;
  margin-bottom: var(--tile-margin-bottom);
  clip-path: polygon(var(--polygon-path));
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 900;
  font-family: "Font Awesome 6 Free";
  position: relative;
}

.board li {
  position: relative;
}

.board [type="submit"] {
  display: none;
}

@keyframes gelatine {

  from,
  to {
    transform: scale(1.1);
  }

  25% {
    transform: scale(0.9, 1.1);
  }

  50% {
    transform: scale(1.1, 0.9);
  }

  75% {
    transform: scale(0.95, 1.05);
  }
}

.tile:hover {
  z-index: 2;
  transform: scale(1.1);
  cursor: pointer;
  animation: gelatine 0.5s linear;
}

.tile--A::before {
  content: "\f6e2";
}

.tile--B::before {
  content: "\f6d5";
}

.tile--C::before {
  content: "\f522";
}

.tile--D::before {
  content: "\f6b7";
}

.tile--E::before {
  content: "\f6e8";
}

.tile--F::before {
  content: "\f11b";
}

.tile--cyan {
  background-color: var(--cyan);
}

.tile--green {
  background-color: var(--green);
}

.tile--red {
  background-color: var(--red);
}

.tile--blue {
  background-color: var(--blue);
}

.tile--yellow {
  background-color: var(--yellow);
}

.tile--magenta {
  background-color: var(--magenta);
}

.tile--grey,
[class*="tile--played-by"] {
  cursor: not-allowed;
}

.tile--allowed-move-false {
  opacity: 0.5;
}

[class*="tile--played-by"] {
  border-left: solid 10px;
  border-right: solid 10px;
  width: 100%;
  height: 100%;
  position: absolute;
}

.tile--played-by-black {
  border-color: #000000;
}

.tile--played-by-white {
  border-color: #ffffff;
}

.tile--last-played {
  border-radius: 50%;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 27px;
  left: 7px;
  box-shadow: rgba(240, 46, 170, 0.4) -2px 2px;
  z-index: 3;
  background: rgb(34, 128, 156);
}