:root {
  --polygon-path: 50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%;
  --cyan: #96D2D9;
  --green: #14D990;
  --red: #F24968;
  --blue: #6929F2;
  --yellow: #F2B807;
  --magenta: #9B72F2;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #112b3c;
  --s: 100px;
  --m: 4px;
  font-family: monospace;
}

.board {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 900px;
  height: 600px;
  font-size: 0;
}

ul {
  list-style: none;
  display: flex;
  gap: 2px;
  position: relative;
  top: -20px;
}

.tile {
  width: var(--s);
  margin: var(--m);
  height: calc(var(--s) * 1.1547);
  font-size: 2.5rem;
  color: white;
  margin-bottom: calc(var(--m) - var(--s)*0.2885);
  clip-path: polygon(var(--polygon-path));
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 900;
  font-family: "Font Awesome 6 Free";
  position: relative;
}

.board li {
  position: relative;
}

.board>ul:first-child>li::before {
  content: '';
  width: 100%;
  display: block;
  border: var(--green) 2px solid;
  position: absolute;
  top: -10px;
}

.board>ul:last-child>li::after {
  content: '';
  width: 100%;
  display: block;
  border: var(--green) 2px solid;
  position: absolute;
  top: 130px;
}

/*.board>ul:nth-of-type(1n+4) li:last-child::after {
  content: '';
  width: 100%;
  height: 100%;
  display: block;
  border-right: var(--yellow) 2px solid;
  transform: rotate(45deg);
}

.board>ul:nth-of-type(1n+4) li:first-child {
  background: var(--blue);
}

.board>ul:not(:nth-of-type(1n+4)) li:last-child {
  background: var(--blue);
}

.board>ul:not(:nth-of-type(1n+4)) li:first-child {
  background: var(--yellow);
}*/

@keyframes gelatine {

  from,
  to {
    transform: scale(1.1);
  }

  25% {
    transform: scale(0.9, 1.1);
  }

  50% {
    transform: scale(1.1, 0.9);
  }

  75% {
    transform: scale(0.95, 1.05);
  }
}

.tile:hover {
  z-index: 2;
  transform: scale(1.1);
  cursor: pointer;
  animation: gelatine 0.5s linear;
}

.tile--A::before {
  content: "\f6e2";
}

.tile--B::before {
  content: "\f6d5";
}

.tile--C::before {
  content: "\f522";
}

.tile--D::before {
  content: "\f6b7";
}

.tile--E::before {
  content: "\f6e8";
}

.tile--F::before {
  content: "\f11b";
}

.tile--cyan {
  background-color: var(--cyan);
}

.tile--green {
  background-color: var(--green);
}

.tile--red {
  background-color: var(--red);
}

.tile--blue {
  background-color: var(--blue);
}

.tile--yellow {
  background-color: var(--yellow);
}

.tile--magenta {
  background-color: var(--magenta);
}

.tile--grey,
[class*="tile--played-by"] {
  cursor: not-allowed;
}

[class*="tile--played-by"] {
  border-left: solid 10px;
  border-right: solid 10px;
  width: 100%;
  height: 100%;
  position: absolute;
}

.tile--played-by-black {
  border-color: #000000;
}

.tile--played-by-white {
  border-color: #ffffff;
}

.tile--last-played {
  border-radius: 50%;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 27px;
  left: 7px;
  box-shadow: rgba(240, 46, 170, 0.4) -2px 2px;
  z-index: 3;
  background: rgb(34, 128, 156);
}