:root{
    --light: white;
    --dark: black;
    --gray: grey;
    --gold: rgba(209, 209, 0, 0.767);
    --xs: 1.5rem;
}

.playersHUD{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
}

aside {
    position: absolute;
    left: 1rem;
    top: 1rem;
    min-width: 10rem;
    min-width: 5rem;
    height: 10rem;
    background: var(--light);
    border-radius: 0.4rem;
    padding: 0.2rem;
    opacity: 0.95;
    z-index: 1;
}

aside em {
    font-size: 1rem;
    font-style: normal;
}

aside h6 {
    font-size: 1.5rem;
}

.players{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: '1rem';
}

.players > * {
    display:flex;
    flex-direction: column;
    align-items: center;
}

.hexagon-icon{
  position: absolute;
  width: var(--xs);
  height: calc(var(--xs) * 1.1547);
  font-size: 0.6rem;
  clip-path: polygon(var(--polygon-path));
  color: var(--dark);
  background-color: var(--gray);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 900;
  font-family: "Font Awesome 6 Free";
  z-index: -1;
}

.turn-counter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.hexagon-container {
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.5rem;
}

.hexagon-icon--gold{
    background-color: gold;
}
