:root{
    --light: rgb(216, 227, 241);
    --dark: #192736;
    --grey: rgb(96, 101, 105);
    --gold: rgba(209, 209, 0, 0.767);
    --transition-hud-shimmer-duration: 350ms;
    --transition-hud-shimmer-easing: ease-in;
}

.players-hud{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
}

aside {
    position: absolute;
    left: 1rem;
    top: 1rem;
    min-width: 10rem;
    min-width: 5rem;
    height: 10rem;
    background: rgba(191, 248, 255, 0.35);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 9px );
    -webkit-backdrop-filter: blur( 9px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    border-radius: 0.4rem;
    color:var(--dark);
    overflow: hidden;
    padding: 0.2rem 0.4rem 0.2rem 0.4rem;
    opacity: 0.95;
    z-index: 1;
    
    transition: transform 
      var(--transition-hud-shimmer-duration)
      var(--transition-hud-shimmer-easing);
}

aside::before {
    content: '';
    background: rgba(255, 255, 255, 0.95);
    width: 18%;
    height: 100%;
    top: 0%;
    transform: skew(38deg);
    position: absolute;
    left: -125%;
    transition: left
      var(--transition-hud-shimmer-duration)
      var(--transition-hud-shimmer-easing);
    z-index: -3;
}

aside:hover::before{
    left: 165%;
}

aside:hover{
    transform: rotateY( -3deg );
    backdrop-filter: blur(10px);
}

aside em {
    font-size: 1.2rem;
    font-style: normal;
}

aside h6 {
    font-size: 1.5rem;
    font-variant: small-caps;
}

.turn-counter > em {
    font-size: 2rem;
}

.players{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.players .black .fa-user-alt{
    color: var(--dark);
}

.players .white .fa-user-alt{
    color: var(--light);
}

.players > * {
    display:flex;
    flex-direction: column;
    align-items: center;
}

.hexagon-icon{
  position: absolute;
  width: var(--tile-width-xs);
  height: var(--tile-icon-height);
  font-size: 0.7rem;
  clip-path: polygon(var(--polygon-path));
  color: var(--light);
  background-color: var(--grey);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 900;
  font-family: "Font Awesome 6 Free";
  z-index: -1;
}

.hexagon-text{
    color: var(--light);
}

.hexagon-text--dark{
    color: var(--dark);
}

.hexagon-icon--gold{
    background-color: gold;
    color: var(--dark)
}

.turn-counter , .hexagon-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hexagon-container {
    margin-top: 0.5rem;
    font-weight: 500;
}


