{{> header }}
  <aside class="players-hud">
    <form action="/game/create" method="post">
      <input
        class="btn-gradient green large show"
        type="submit"
        value="New game"
      />
    </form>
    <ul>
      {{#each onGoing}}
        <li>
          <div>
            <a href="/game/{{this.id}}">Game {{this.id}}</a>
          </div>
        </li>
      {{/each}}
    </ul>
  </aside>
  <main>
    <div class="board"></div>
  </main>
{{> footer }}