{{> header }}
  <aside class="players-hud">
    <form action="{{action}}" method="post">
      <h1>{{title}}</h1>
      <div>
        <label for="username">Username</label>
        <input type="text" id="username" name="username">
      </div>

      <div>
          <label for="password">Password</label>
          <input type="password" name="password" id="password">
      </div>

      <div>
        <button role="submit">{{title}}</button>
      </div>
    </form>
    {{#if (eq title "Register")}}
    <a href="/auth/login">Already have an account ?</a>
    {{/if}}
  </aside>
  <main>
    <div class="board"></div>
  </main>
{{> footer }}